<div class='block-item-list'>
  {{#each this.args.entities as |entity|}}
  <div class="block-entity">
    <div class="block-title">{{entity.attributes.index}}</div>
    <div class="block-content">{{entity.attributes.data}}</div>
  </div>
  {{/each}}
</div>